
* {
    margin: 0;
    padding: 0;
}

html { 
    background-color: rgb(100, 97, 97); 
}

.landing {
    /* display: none; */
    margin: auto;
    width: 443px;
    height: 100vh;
    background-color: #fff;
    border-radius: 5px;
}

.land-main {
    position: relative;
    margin: auto;
    top: 12%;
    width: 300px;
    height: 420px;

}

.land-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 120px;
    height: 50px;
}

.land-logo img {
    width: 100%;
}

#username {
    position: absolute;
    top: 35%;
    width: 300px;
    height: 60px;
    background-color: #039a91;
    font-size: 16px;
    color: #ffff;
    line-height: 70px;
    font-family: 'icomoon';
    border: 1px solid;
    border-radius: 30px;
    margin-right: 3px;
    text-align: center;
    outline: none;
    
}

#password {
    position: absolute;
    top: 55%;
    width: 300px;
    height: 60px;
    background-color: #039a91;
    font-size: 16px;
    color: #ffff;
    line-height: 70px;
    font-family: 'icomoon';
    border: 1px solid;
    border-radius: 30px;
    margin-right: 3px;
    text-align: center;
    outline: none;

}

.land-pass {
    position: absolute;
    top:84%;
    /* bottom: 0; */
    left: 50%;
    transform: translate(-50%, 5%);
    width: 80px;
    height: 80px;
    background: linear-gradient(90deg,rgb(3, 154, 145, 0.8), rgba(62, 222, 214, 0.6));
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}

.land-pass input {
    border: none;
    background-color: transparent;
    font-size: 30px;
}

.land-agree {
    position: absolute;
    width: 200px;
    height: 20px;
    top: 73%;
    font-size: 6px;
    color: rgb(150, 147, 147);
    left: 40%;
    transform: translate(-50%, 0);
    cursor: pointer;
}

.land-foot {
    position: absolute;
    width: 70px;
    height: 16px;
    left: 50%;
    transform: translate(-50%, 465px);
    font-size: 16px;
    color: rgb(150, 147, 147);
    cursor: pointer;
}